body{
    background-color: whitesmoke;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
/* =====================
        top navigation and menubar start ======================================= */
.navbar{
    display: flex;
    width: 90%;
    justify-content: space-between
}
nav{
   height: 80px;
   padding-top: 90px;
    
}
.left-nav{
    width: 40%;
    padding-left: 100px;
}
.right-nav{
    padding-left: 100px;
}
.right-nav ul li{
    list-style: none; 
    padding-left: 20px; 
}
.right-nav ul{
    display: flex;
}
.fas{
    padding-left: 5px;
}
.right-nav ul .fas, li:hover{
    color: #ee5f26;
    cursor: pointer;
}
/* ============================
                main header start
                ============================== */
.header-container{
    display: flex;
    width: 90%;
    justify-content:space-betwee;
   margin-top: 150px;
   
}
.text-highlight{
    color: #ee5f26;
}
.left-header{
    width: 50%;
    padding-left: 100px;
}
.left-header p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    left: 120px;
    top: 87px;
    text-align: justify;
    
}
#main-heading{
    font-weight: bold;
    font-size: 60px;
    margin: 0px auto auto auto;
    color: rgb(117, 112, 112);
}
button{
    font-size: 20px;
    background-color: #ee5f26;
    text-transform: uppercase;
    border-radius: 50px;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border: none;
    color: white;
    cursor: pointer;
}
button:hover{
    color: black;
    font-size: 25px;
}

.header-background{
    height: 375px;
    height: 475px;
    position: absolute;
    }
.right-header img{
    height: 300px;
    width: 400px;
    position: absolute;
}

.right-header{
    position: relative;
    width: 50px;
    padding-left: 300px;
    
}
.left-header{
    height: 400px;
    width: 600px;
    margin-left: 120px;
    padding: 50px;
    color: rgb(105, 105, 103);
    text-align: justify;
    border-radius: 5px;
}
.left-header:hover{
    box-shadow: 0 30px 35px rgba(0,0,0,.2);
}
.right-header{
    height: 400px;
    width: 600px;
    margin-left: 120px;
    padding: 50px;
    color: rgb(105, 105, 103);
    border-radius: 5px;
}
.right-header:hover{
    box-shadow: 0 30px 35px rgba(0,0,0,.2);


}
/* =================================== 
                 main section start
    ======================================================== */
.main-section{
    max-width: 90%;
    margin: 100px 120px;

}
.product-gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
    margin: 50px 120px;
}
.main-section h2{
    text-align: center;
    padding: 20px;
    font-weight: 700;

}
.container{
    background-color: white;
    width: 300px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0,0,.2);
    
}
.container div{
    justify-content: center;
}
#product-name{
    color: rgb(117, 112, 112);
    
}
.product-detail, h4{
    text-align: left;
    margin: 0px;
    padding: 0px;
    color: rgb(117, 112, 112);
    font-size: 16px;
    display: inline-block;
}
.filled,.half{
    color:#ee5f26;
    
}

.text-container{
    height: 100px;
    width: 200px;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 50px;
}
.see-more-button{
    text-align: right;
    padding-right: 150px;
    color: #ee5f26;
}
/* =======================================
                       last section start 
                    ========================================== */
.discount-section{
    height: 300px;
    max-width: 90%;
    padding-bottom: 50px;
    margin: 20px;
}
.content-area{
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    
}
.content-left, .content-right{
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0,0,.2);
}
.content-left img{
    padding: 30px;
    width: 450px;
    border-radius: 10px;
}
.content-right u{
    color: #ee5f26;
}
/* ===================================
                    footer section start 
                  ============================================== */
footer{
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: black;
    height: 150px;
    padding: 30px;
    margin: 0px;
}
.text{
    color: white;
    margin: 0px;
    text-align: center;
}
.fab{
    color: white;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}
.text{
    font-size: 15px;
}
/* =======================================================
                 Responsive for small screen start
   ======================================================== */
@media screen (max-width: 688px){
    .navbar{
        display: none;
    }
}
    














